---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h2>Sistemas</h2>
  <ul>
    <li>
      <a href="/systems/teoria-de-sistemas">Teoría de Sistemas</a>
      <ul>
        <li>
          <a href="/systems/teoria-de-sistemas/conceptos-elementales"
            >Conceptos Elementales</a
          >
        </li>
        <li>
          <a href="/systems/teoria-de-sistemas/jerarquia-de-sistemas"
            >Jerarquía de Sistemas</a
          >
        </li>
        <li>
          <a href="/systems/teoria-de-sistemas/estructura-de-los-sistemas"
            >Estructura de los Sistemas</a
          >
        </li>
        <li>
          <a href="/systems/teoria-de-sistemas/clasificacion-de-sistemas"
            >Clasificación de Sistemas</a
          >
        </li>
        <li>
          <a
            href="/systems/teoria-de-sistemas/aportes-de-la-teoria-general-de-sistemas"
            >Aportes de la Teoría General de Sistemas</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="/systems/organizacion-y-empresa">Organización y Empresa</a>
      <ul>
        <li>
          <a href="/systems/organizacion-y-empresa/la-organizacion-como-sistema"
            >La Organización como Sistema</a
          >
        </li>
        <li>
          <a
            href="/systems/organizacion-y-empresa/elementos-que-componen-una-organizacion"
            >Elementos que Componen una Organización</a
          >
        </li>
        <li>
          <a
            href="/systems/organizacion-y-empresa/el-contexto-o-medio-de-las-organizaciones"
            >El Contexto o Medio de las Organizaciones</a
          >
        </li>
        <li>
          <a
            href="/systems/organizacion-y-empresa/finalidad-de-las-organizaciones"
            >Finalidad de las Organizaciones</a
          >
        </li>
        <li>
          <a
            href="/systems/organizacion-y-empresa/clasificacion-de-las-organizaciones"
            >Clasificación de las Organizaciones</a
          >
        </li>
        <li>
          <a href="/systems/organizacion-y-empresa/administracion"
            >Administración</a
          >
        </li>
        <li>
          <a href="/systems/organizacion-y-empresa/funcion-de-planificar"
            >Función de Planificar</a
          >
        </li>
        <li>
          <a href="/systems/organizacion-y-empresa/funcion-de-organizar"
            >Función de Organizar</a
          >
        </li>
        <li>
          <a href="/systems/organizacion-y-empresa/funcion-de-direccion"
            >Función de Dirección</a
          >
        </li>
        <li>
          <a href="/systems/organizacion-y-empresa/funcion-de-control"
            >Función de Control</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="/systems/procesos-de-negocio-en-las-organizaciones"
        >Procesos de Negocio en las Organizaciones</a
      >
      <ul>
        <li>
          <a
            href="/systems/procesos-de-negocio-en-las-organizaciones/modelado-de-proceso-de-negocio"
            >Modelado de proceso de negocio</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        href="/systems/sistemas-de-informacion-asociados-a-procesos-de-organizaciones"
        >Sistemas de Información Asociados a Procesos de Organizaciones</a
      >
      <ul>
        <li>
          <a
            href="/systems/sistemas-de-informacion-asociados-a-procesos-de-organizaciones/caracteristicas-de-la-informacion"
            >Características de la Información</a
          >
        </li>
        <li>
          <a
            href="/systems/sistemas-de-informacion-asociados-a-procesos-de-organizaciones/modelo-de-un-sistema-de-informacion"
            >Modelo de un Sistema de Información</a
          >
        </li>
        <li>
          <a
            href="/systems/sistemas-de-informacion-asociados-a-procesos-de-organizaciones/tipos-de-sistemas-de-informacion"
            >Tipos de Sistemas de Información</a
          >
        </li>
        <li>
          <a
            href="/systems/sistemas-de-informacion-asociados-a-procesos-de-organizaciones/niveles-de-organizaciones-y-tipo-de-informacion"
            >Niveles de Organizaciones y Tipo de Información</a
          >
        </li>
        <li>
          <a
            href="/systems/sistemas-de-informacion-asociados-a-procesos-de-organizaciones/proceso-de-toma-de-decisiones"
            >Proceso de Toma de Decisiones</a
          >
        </li>
      </ul>
    </li>
  </ul>
</Layout>
