---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h2>Sistemas</h2>
  <ul>
    <li>
      <a href="/systems/systems-theory">Teoría de Sistemas</a>
      <ul>
        <li>
          <a href="/systems/systems-theory/elementary-concepts"
            >Conceptos Elementales</a
          >
        </li>
        <li>
          <a href="/systems/systems-theory/system-hierarchy"
            >Jerarquía de Sistemas</a
          >
        </li>
        <li>
          <a href="/systems/systems-theory/system-structure"
            >Estructura de los Sistemas</a
          >
        </li>
        <li>
          <a href="/systems/systems-theory/system-classification"
            >Clasificación de Sistemas</a
          >
        </li>
        <li>
          <a
            href="/systems/systems-theory/contributions-of-general-systems-theory"
            >Aportes de la Teoría General de Sistemas</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="/systems/organization-and-company">Organización y Empresa</a>
      <ul>
        <li>
          <a href="/systems/organization-and-company/organization-as-a-system"
            >La Organización como Sistema</a
          >
        </li>
        <li>
          <a
            href="/systems/organization-and-company/elements-that-make-up-an-organization"
            >Elementos que Componen una Organización</a
          >
        </li>
        <li>
          <a
            href="/systems/organization-and-company/organization-context-or-environment"
            >El Contexto o Medio de las Organizaciones</a
          >
        </li>
        <li>
          <a
            href="/systems/organization-and-company/organization-purpose"
            >Finalidad de las Organizaciones</a
          >
        </li>
        <li>
          <a
            href="/systems/organization-and-company/organization-classification"
            >Clasificación de las Organizaciones</a
          >
        </li>
        <li>
          <a href="/systems/organization-and-company/administration"
            >Administración</a
          >
        </li>
        <li>
          <a href="/systems/organization-and-company/planning-function"
            >Función de Planificar</a
          >
        </li>
        <li>
          <a href="/systems/organization-and-company/organizing-function"
            >Función de Organizar</a
          >
        </li>
        <li>
          <a href="/systems/organization-and-company/directing-function"
            >Función de Dirección</a
          >
        </li>
        <li>
          <a href="/systems/organization-and-company/control-function"
            >Función de Control</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="/systems/business-processes-in-organizations"
        >Procesos de Negocio en las Organizaciones</a
      >
      <ul>
        <li>
          <a
            href="/systems/business-processes-in-organizations/business-process-modeling"
            >Modelado de proceso de negocio</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        href="/systems/information-systems-associated-with-organizational-processes"
        >Sistemas de Información Asociados a Procesos de Organizaciones</a
      >
      <ul>
        <li>
          <a
            href="/systems/information-systems-associated-with-organizational-processes/information-characteristics"
            >Características de la Información</a
          >
        </li>
        <li>
          <a
            href="/systems/information-systems-associated-with-organizational-processes/information-system-model"
            >Modelo de un Sistema de Información</a
          >
        </li>
        <li>
          <a
            href="/systems/information-systems-associated-with-organizational-processes/types-of-information-systems"
            >Tipos de Sistemas de Información</a
          >
        </li>
        <li>
          <a
            href="/systems/information-systems-associated-with-organizational-processes/organizational-levels-and-information-types"
            >Niveles de Organizaciones y Tipo de Información</a
          >
        </li>
        <li>
          <a
            href="/systems/information-systems-associated-with-organizational-processes/decision-making-process"
            >Proceso de Toma de Decisiones</a
          >
        </li>
      </ul>
    </li>
  </ul>
</Layout>
