---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h2>Analisis de Sistemas</h2>
  <ul>

    <li>
      <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio">Sistemas de Información y el Modelado de Procesos de Negocio</a>
    </li>

      <ul>

        <li>
          <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio/componentes">Componentes</a>
        </li>
        <li>
          <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio/tipos-de-sistemas-de-informacion">Tipos de Sistemas de Información</a>
        </li>
        <li>
          <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio/informacion">Información</a>
        </li>
      

        <li>
          <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio/concepto-de-modelo-y-fundamento-de-uso">Concepto de Modelo y Fundamento de Uso</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio/conceptos-varios">Concepto de Proceso - Proceso de Negocio y Clasificación - Actividades del Proceso - Reglas de Negocio - Modelado de Procesos de Negocio su Importancia y Técnicas</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/sistemas-de-informacion-y-el-modelado-de-procesos-de-negocio/notacion-de-modelado-de-procesos-de-negocio">Notación de Modelado de Procesos de Negocio (BPMN)</a>
        </li>
      </ul>
      
    <li>
      <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-software">Sistemas de Información y Procesos de Desarrollo de Software</a>
    </li>

    <ul>

      <li>
        <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-software/requerimientos">Definición de Requerimientos y Concepto de Requerimiento en el Contexto de los Sistemas de Información</a>
      </li>

      <li>
        <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-software/conceptos-varios">Conceptos de: Ingeniería de Software - Método - Técnicas - Herramientas - Procesos - Proyecto</a>
      </li>

      <li>
        <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-softwar/proceso-de-desarrollo-de-software">Proceso de Desarrollo de Software: Métodologías - Herramientas - Roles - Artefactos</a>
      </li>

      <li>
        <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-software/modelos-de-proceso">Modelos de Proceso: Importancia - Tipos de Modelos de Proceso - Concepto de Calidad en el Desarrollo de Software - Estudio de Prefactibilidad</a>
      </li>

      <li>
        <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-software/proceso-unificado-de-desarrollo">Proceso Unificado de Desarrollo (PUD)</a>
      </li>

      <li>
        <a href="/analisis-de-sistemas/sistemas-de-informacion-y-procesos-de-desarrollo-de-software/agile">Agile: Surgimiento - Principios - Problemáticas y Evolución de Métodologías Tradicionales y Ágiles</a>
      </li>

    </ul>

    <li>
      <a href="/analisis-de-sistemas/paradigma-orientado-a-objetos">Paradigma Orientado a Objetos</a>
    </li>
      <ul>
        <li>
          <a href="/analisis-de-sistemas/paradigma-orientado-a-objetos/elementos-del-paradigma">Elementos del paradigma: Clase - Objeto - Naturaleza - Estado - Comportamiento - Vistas - identidad - Abstracción - Cohesión - Encapsulamiento - Acoplamiento </a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/paradigma-orientado-a-objetos/herencia">Tipos de Herencia: de Comportamiento - de Estructura </a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/paradigma-orientado-a-objetos/relaciones-entre-clases">Relaciones entre Clases: Jerárquicas - No Jerárquicas</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/paradigma-orientado-a-objetos/relaciones-entre-clases/herramientas-de-modelado">Herramientas de Modelado: Diagrama de Clases</a>
        </li>

      </ul>

    <li>
      <a href="/analisis-de-sistemas/ingenieria-de-requerimientos">Ingeniería de Requerimientos</a>
    </li>
        <ul>

          <li>
            <a href="/analisis-de-sistemas/ingenieria-de-requerimientos/requerimientos">Requerimientos: Categorías - Tipos</a>
          </li>

          <li>
            <a href="/analisis-de-sistemas/ingenieria-de-requerimientos/procesos-de-la-ingenieria-de-requerimientos">Procesos de la Ingeniería de Requerimientos: Elicitación - Especificación - Validación</a>
          </li>
          
        </ul>
    
    <li>
        <a href="/analisis-de-sistemas/proceso-de-elicitacion-de-requerimientos">El Proceso de Elicitación de Requerimientos</a>
    </li>
      <ul>

          <li>
            <a href="/analisis-de-sistemas/proceso-de-elicitacion-de-requerimientos/fuentes de informacion">Fuentes de Información</a>
          </li> 

          <li>
            <a href="/analisis-de-sistemas/proceso-de-elicitacion-de-requerimientos/tecnicas-de-recopilacion-de-informacion">Técnicas de Recopilación de Información: Entrevista - Cuestionario - Análisis de Documentación - Observación - Torbellino de Ideas</a>
          </li> 

      </ul>
      <li>
        <a href="/analisis-de-sistemas/proceso-de-especificacion-de-requerimientos">El Proceso de Especificación de Requerimientos</a>
    </li>
      <ul>

        <li>
          <a href="/analisis-de-sistemas/proceso-de-especificacion-de-requerimientos/captura-de-requerimientos-con-casos-de-uso">Captura de Requerimientos con Casos de Uso</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/proceso-de-especificacion-de-requerimientos/modelo-de-casos-de-uso">Modelo de Casos de Uso: Diagrama de Casos de Uso - Descripciones de Casos de Uso - Patrones de Caso de Uso</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/proceso-de-especificacion-de-requerimientos/diagrama-de-maquina-de-estados">Diagrama de Máquina de Estados</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/proceso-de-especificacion-de-requerimientos/ers">El Documento de Especificación de Requerimientos de Software (ERS)</a>
        </li>

      </ul>
      <li>
        <a href="/analisis-de-sistemas/proceso-de-validacion-de-requerimientos">El Proceso de Validación de Requerimientos</a>
    </li>
      
      <li>
        <a href="/analisis-de-sistemas/flujos-de-trabajo-de-requisitos-y-analisis">Proceso Unificado de Desarrollo: Flujos de Trabajo de Requisitos y Análisis </a>
    </li>
      <ul>
            
        <li>
          <a href="/analisis-de-sistemas/flujos-de-trabajo-de-requisitos-y-analisis/flujo-de-trabajo-de-requisitos">Flujo de Trabajo de Requisitos: Concepto - Importancia - Artefactos - Trabajadores - Actividades</a>
        </li>

        <li>
          <a href="/analisis-de-sistemas/flujos-de-trabajo-de-requisitos-y-analisis/flujo-de-trabajo-de-analisis">Flujo de Trabajo de Análisis: Concepto - Importancia - Artefactos - Trabajadores - Actividades</a>
        </li>

      </ul>
  </ul>
</Layout>
