---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h2>Analisis de Sistemas</h2>
  <ul>

    <li>
      <a href="/systems-analysis/information-systems-and-business-process-modeling">Sistemas de Información y el Modelado de Procesos de Negocio</a>
    </li>

      <ul>

        <li>
          <a href="/systems-analysis/information-systems-and-business-process-modeling/components">Componentes</a>
        </li>
        <li>
          <a href="/systems-analysis/information-systems-and-business-process-modeling/types-of-information-systems">Tipos de Sistemas de Información</a>
        </li>
        <li>
          <a href="/systems-analysis/information-systems-and-business-process-modeling/information">Información</a>
        </li>
      

        <li>
          <a href="/systems-analysis/information-systems-and-business-process-modeling/model-concept-and-usage-foundation">Concepto de Modelo y Fundamento de Uso</a>
        </li>

        <li>
          <a href="/systems-analysis/information-systems-and-business-process-modeling/various-concepts">Concepto de Proceso - Proceso de Negocio y Clasificación - Actividades del Proceso - Reglas de Negocio - Modelado de Procesos de Negocio su Importancia y Técnicas</a>
        </li>

        <li>
          <a href="/systems-analysis/information-systems-and-business-process-modeling/business-process-modeling-notation">Notación de Modelado de Procesos de Negocio (BPMN)</a>
        </li>
      </ul>
      
    <li>
      <a href="/systems-analysis/information-systems-and-software-development-processes">Sistemas de Información y Procesos de Desarrollo de Software</a>
    </li>

    <ul>

      <li>
        <a href="/systems-analysis/information-systems-and-software-development-processes/requirements">Definición de Requerimientos y Concepto de Requerimiento en el Contexto de los Sistemas de Información</a>
      </li>

      <li>
        <a href="/systems-analysis/information-systems-and-software-development-processes/various-concepts">Conceptos de: Ingeniería de Software - Método - Técnicas - Herramientas - Procesos - Proyecto</a>
      </li>

      <li>
        <a href="/systems-analysis/information-systems-and-software-development-processes/software-development-process">Proceso de Desarrollo de Software: Métodologías - Herramientas - Roles - Artefactos</a>
      </li>

      <li>
        <a href="/systems-analysis/information-systems-and-software-development-processes/process-models">Modelos de Proceso: Importancia - Tipos de Modelos de Proceso - Concepto de Calidad en el Desarrollo de Software - Estudio de Prefactibilidad</a>
      </li>

      <li>
        <a href="/systems-analysis/information-systems-and-software-development-processes/unified-development-process">Proceso Unificado de Desarrollo (PUD)</a>
      </li>

      <li>
        <a href="/systems-analysis/information-systems-and-software-development-processes/agile">Agile: Surgimiento - Principios - Problemáticas y Evolución de Métodologías Tradicionales y Ágiles</a>
      </li>

    </ul>

    <li>
      <a href="/systems-analysis/object-oriented-paradigm">Paradigma Orientado a Objetos</a>
    </li>
      <ul>
        <li>
          <a href="/systems-analysis/object-oriented-paradigm/paradigm-elements">Elementos del paradigma: Clase - Objeto - Naturaleza - Estado - Comportamiento - Vistas - Identidad - Abstracción - Cohesión - Encapsulamiento - Acoplamiento </a>
        </li>

        <li>
          <a href="/systems-analysis/object-oriented-paradigm/inheritance">Tipos de Herencia: de Comportamiento - de Estructura </a>
        </li>

        <li>
          <a href="/systems-analysis/object-oriented-paradigm/class-relationships">Relaciones entre Clases: Jerárquicas - No Jerárquicas</a>
        </li>

        <li>
          <a href="/systems-analysis/object-oriented-paradigm/modeling-tools">Herramientas de Modelado: Diagrama de Clases</a>
        </li>

      </ul>

    <li>
      <a href="/systems-analysis/requirements-engineering">Ingeniería de Requerimientos</a>
    </li>
        <ul>

          <li>
            <a href="/systems-analysis/requirements-engineering/requirements">Requerimientos: Categorías - Tipos</a>
          </li>

          <li>
            <a href="/systems-analysis/requirements-engineering/requirements-engineering-processes">Procesos de la Ingeniería de Requerimientos: Elicitación - Especificación - Validación</a>
          </li>
          
        </ul>
    
    <li>
        <a href="/systems-analysis/requirements-elicitation-process">El Proceso de Elicitación de Requerimientos</a>
    </li>
      <ul>

          <li>
            <a href="/systems-analysis/requirements-elicitation-process/information-sources">Fuentes de Información</a>
          </li> 

          <li>
            <a href="/systems-analysis/requirements-elicitation-process/information-gathering-techniques">Técnicas de Recopilación de Información: Entrevista - Cuestionario - Análisis de Documentación - Observación - Torbellino de Ideas</a>
          </li> 

      </ul>
      <li>
        <a href="/systems-analysis/requirements-specification-process">El Proceso de Especificación de Requerimientos</a>
    </li>
      <ul>

        <li>
          <a href="/systems-analysis/requirements-specification-process/use-case-requirements-capture">Captura de Requerimientos con Casos de Uso</a>
        </li>

        <li>
          <a href="/systems-analysis/requirements-specification-process/use-case-model">Modelo de Casos de Uso: Diagrama de Casos de Uso - Descripciones de Casos de Uso - Patrones de Caso de Uso</a>
        </li>

        <li>
          <a href="/systems-analysis/requirements-specification-process/state-machine-diagram">Diagrama de Máquina de Estados</a>
        </li>

        <li>
          <a href="/systems-analysis/requirements-specification-process/software-requirements-specification">El Documento de Especificación de Requerimientos de Software (ERS)</a>
        </li>

      </ul>
      <li>
        <a href="/systems-analysis/requirements-validation-process">El Proceso de Validación de Requerimientos</a>
    </li>
      
      <li>
        <a href="/systems-analysis/requirements-and-analysis-workflows">Proceso Unificado de Desarrollo: Flujos de Trabajo de Requisitos y Análisis </a>
    </li>
      <ul>
            
        <li>
          <a href="/systems-analysis/requirements-and-analysis-workflows/requirements-workflow">Flujo de Trabajo de Requisitos: Concepto - Importancia - Artefactos - Trabajadores - Actividades</a>
        </li>

        <li>
          <a href="/systems-analysis/requirements-and-analysis-workflows/analysis-workflow">Flujo de Trabajo de Análisis: Concepto - Importancia - Artefactos - Trabajadores - Actividades</a>
        </li>

      </ul>
  </ul>
</Layout>
