---
import Card from "../components/card/Card.astro";
import Layout from "../layouts/Layout.astro";
import "../shared/global.css";
---

<Layout>
  <Card title="Hello World!">
    <p>
      Bienvenido a nuestro sitio web dedicado a los Sistemas de Información.
      Nuestra misión es brindarte una comprensión integral de cómo los sistemas
      de información impactan y mejoran los procesos organizacionales,
      permitiendo la toma de decisiones más eficientes y eficaces. A través de
      contenidos prácticos y teóricos, profundizamos en temas clave como
      análisis de sistemas y arquitectura de software. Ya seas estudiante o
      profesional, nuestro objetivo es proporcionarte el conocimiento necesario
      para comprender, diseñar y optimizar sistemas de información efectivos.
    </p>
  </Card>
</Layout>
