---
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <h2>Diseño de Sistemas</h2>
  <h3>Lista de contenidos de las unidades 2-5 planificación cátedra Diseño de Sistemas 2024</h3>
  <ul>
    <li>
      <a href="/systems/diseño-de-sistemas-de-informacion">Diseño de Sistemas de Información</a>
      <ul>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/definicion-y-principios">Definición de Diseño, principios de diseño de software orientado a objetos.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/uso-de-UML-2.0">Uso de UML 2.0 para la creación de modelos de diseño.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/aspectos-a-diseñar">Aspectos que se diseñan en un sistema de información.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/diseño-de-procesos">Diseño de Procesos.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/patrones-de-diseño">Patrones de Diseño.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/diseño-de-persistencia">Diseño de Persistencia. Mapeo de estructuras de clases a bases de datos relacionales.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/diseño-de-componentes">Diseño de Componentes.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/integracion-de-sistemas">Integración de Sistemas.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/verificacion-y-validacion">Verificación y validación del diseño.</a></li>
        <li><a href="/systems/diseño-de-sistemas-de-informacion/calidad-y-seguridad">Calidad y Seguridad en el diseño de sistemas de información.</a></li>
      </ul>
    </li>
    <li>
      <a href="/systems/diseño-de-arquitecturas-de-software">Diseño de Arquitecturas de Software</a>
      <ul>
        <li><a href="/systems/diseño-de-arquitecturas-de-software/diseño-arquitectonico">Diseño Arquitectónico</a></li>
        <li><a href="/systems/diseño-de-arquitecturas-de-software/patrones-arquitectonicos">Patrones arquitectónicos</a></li>
        <li><a href="/systems/diseño-de-arquitecturas-de-software/vistas-UML">Vistas arquitectónicas modeladas con UML 2.0</a></li>
        <li><a href="/systems/diseño-de-arquitecturas-de-software/documentacion-de-arquitectura">Documentación de la arquitectura</a></li>
      </ul>
    </li>
    <li>
      <a href="/systems/diseño-de-experiencia-de-usuario">Diseño de Experiencia de Usuario</a>
      <ul>
        <li><a href="/systems/diseño-de-experiencia-de-usuario/fundamentos-de-diseño">Fundamentos del diseño de interacción. Principios y heurísticas de diseño.</a></li>
        <li><a href="/systems/diseño-de-experiencia-de-usuario/diseño-centrado-en-el-usuario">Diseño centrado en el usuario. Diseño de la Experiencia de Usuario.</a></li>
        <li><a href="/systems/diseño-de-experiencia-de-usuario/design-thinking">Design Thinking. Prototipado.</a></li>
        <li><a href="/systems/diseño-de-experiencia-de-usuario/arquitectura-de-informacion">Arquitectura de Información</a></li>
        <li><a href="/systems/diseño-de-experiencia-de-usuario/proceso-de-diseño-de-productos">Proceso de Diseño de Productos</a></li>
        <li><a href="/systems/diseño-de-experiencia-de-usuario/evaluacion-de-interaccion">Evaluación de la Interacción. Usabilidad.</a></li>
      </ul>
    </li>
    <li>
      <a href="/systems/evolucion-de-los-sistemas">Evolución de los Sistemas</a>
      <ul>
        <li><a href="/systems/evolucion-de-los-sistemas/procesos-de-evolucion">Procesos de Evolución del software</a></li>
        <li><a href="/systems/evolucion-de-los-sistemas/dinamica-de-la-evolucion">Dinámica de la evolución del software</a></li>
        <li><a href="/systems/evolucion-de-los-sistemas/mantenimiento-del-software">Mantenimiento del Software</a></li>
        <li><a href="/systems/evolucion-de-los-sistemas/reingenieria">Reingeniería de Software</a></li>
        <li><a href="/systems/evolucion-de-los-sistemas/administracion-de-sistemas-heredados">Administración de Sistemas Heredados</a></li>
      </ul>
    </li>
  </ul>

</Layout>