---
import { Image } from "astro:assets";
import menu_logo from "../../assets/menu.png";
import "./Header.css";
---

<header>
  <div class="header-left">
    <button class="menu-btn" type="button">
      <Image src={menu_logo} alt={"Menu"} class={"menu-image"} />
    </button>
    <a href="/" class="home-link">
      <h1>Teoría de Sistemas</h1>
    </a>
  </div>
  <nav class="header-right">
    <ul class="nav-links">
      <li class="nav-item">
        <a href="/systems">Los Sistemas</a>
      </li>
      <li class="nav-item">
        <a href="/systems-analysis">Análisis de Sistemas</a>
      </li>
      <li class="nav-item">
        <a href="/systems-design">Diseño de Sistemas</a>
      </li>
    </ul>
  </nav>
</header>
