---
import { Image } from "astro:assets";
import menu_logo from "../../assets/menu.png";
import "./Header.css";
---

<header>
  <div id="left">
    <button class="menu-btn" type="button" onclick="console.log('Crous')">
      <Image src={menu_logo} alt={""} class={"menu-image"} />
    </button>
    <a href="/" class="home-link">
      <h1>Design Of Systems</h1>
    </a>
  </div>
  <div id="right" class="links">
    <ul>
      <li class="link">
        <a href="/systems">Systems</a>
      </li>
      <li class="link">
        <a href="/systems-analysis">Systems Analysis</a>
      </li>
      <li class="link">
        <a href="/systems-design">Systems Design</a>
      </li>
    </ul>
  </div>
</header>
