---
import "./Footer.css";
---

<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-copyright">
      <p>
        &copy; 2025 <b>Systems Design</b>. Todos los derechos reservados.
      </p>
    </div>
    <nav>
      <a
        rel="license nofollow noopener noreferrer"
        href="http://creativecommons.org/licenses/by/4.0/"
        target="_blank"
      >
        Licencia
      </a>
      <a href="/privacy-policy">Política de Privacidad</a>
      <a href="/terms-of-service">Términos y Condiciones</a>
      <a href="/contact" href="https://github.com/Designing-Systems">Contacto</a
      >
    </nav>
  </div>
</footer>
