---
import "./Footer.css";
---

<footer>
  <p>
    &copy; 2025 <b>Systems Design</b>. All rights reserved. <a
      rel="license nofollow noopener noreferrer"
      href="http://creativecommons.org/licenses/by/4.0/"
      target="_blank"
    >
      Creative Commons Attribution 4.0 International License</a
    >
  </p>
  <nav>
    <a href="/privacy-policy" style="color: #fff; margin: 0 1rem;"
      >Privacy Policy</a
    >
    <a href="/terms-of-service" style="color: #fff; margin: 0 1rem;"
      >Terms of Service</a
    >
    <a href="/contact" style="color: #fff; margin: 0 1rem;">Contact</a>
    <div>
      <a href=""></a>
    </div>
  </nav>
</footer>
