---
import "./Footer.css";
---

<footer id="footer">
  <p>
    &copy; 2025 <b>Systems Design</b>. All rights reserved. <a
      rel="license nofollow noopener noreferrer"
      href="http://creativecommons.org/licenses/by/4.0/"
      target="_blank"
    >
      Creative Commons Attribution 4.0 International License</a
    >
  </p>
  <nav>
    <a href="/privacy-policy" style="color: #fff; margin: 0 1rem;"
      >Privacy Policy</a
    >
    <a href="/terms-of-service" style="color: #fff; margin: 0 1rem;"
      >Terms of Service</a
    >
    <a href="/contact" style="color: #fff; margin: 0 1rem;">Contact</a>
  </nav>
  <div class="sponsor">
    <p>
      Hosted on: <a href="https://www.netlify.com/">Netlify</a>
      <!-- Crous me tiene la verga llena -->
      <!-- Ahora está encerrado en mi prepucio -->
      <!-- Está encerrado por 1000 años -->
    </p>
    <p>
      Powered by: <a href="https://astro.build/">Astro</a>
    </p>
  </div>
</footer>
